/* My WEB120 Portal Website Styles */

html {
    background-color:#2C3539;
}

div.wrapper {
    background-color:#ff0000;
    font-family: cursive;
    overflow:auto;
}

div h4 + p {
    line-height: 1em;
    margin-top: -.5em;
}

h1>a {
    text-decoration: none;
    color:#0c0cd8;
}

aside ul {
    margin: 0 0 0 -1em;
}

aside li {
    position: relative;
    margin:0 2em 1em 0;
}

.logo {
    color:#ffa500;
    margin-left:1%;
    text-shadow:1px 1px #ccc;
    font-size:1.25em;
}

/*hr line for footer */
hr.footer {
  border: 2px solid; 
  border-color: #2C3539;
  border-radius: 2px;
}

/* Embed Responsively Rules! */
div.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin: auto;
    max-width: 98%;
} 

div.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.full-screen {
    min-height: 100vh;
    background-color: #1abc9c;
    width: 100%;
    padding:0;
}
.center {
  text-align: center;
}


/* hide agenda view calendar*/
.embed-container.agenda-view {
    display:none;
}

/* callender rules for displays <= 1439px*/
@media all and (max-width:1000px) {
        .embed-container.month-view {
                display:none;
        }
        .embed-container.agenda-view {
                display:block;
        }
}

footer {
	clear:both;
}

/* START RESPONSIVE STYLES */
/* DESKTOP */
@media all and (min-width:1400px) {
	
   div.wrapper {
		width:80%;
		margin:auto;
	}

    section.wholepage {
        width: 100%; /* desktop */
    }
    
    section {
		width:50%;
		float:left;
        padding: 0 0 0 2em;
	}
	
     aside {	
		width: 40%;
		float: right;
        padding-right: 2em;
        word-wrap: break-word;
	}
			
	
    img.desktop {
        float:right;
       	width:40%;
        padding-left: 15px;
        padding-right: 15px;
   	 }
    
    img.tablet, img.phone {
       		 display:none;
    	}  
    
    /* Change background color of navigation on selected page */
    ul.topnav li a.selected {
        		color:#ff0000;
   	 }
}


/* TABLET */
@media all and (min-width:737px) and (max-width:1399px) {
	
	section {
		width:50%;
		float:left;
        padding: 0px 15px 0px 50px;
	}
	
	aside {	
		width:39%;
		float:right;
        word-wrap: break-word;
	}
	
            img.tablet {
       		width:100%;
           }
    
           img.phone, img.desktop {
        		display:none;
           } 
    
    /* Change background color of navigation on selected page */
           ul.topnav li a.selected {
        		color:#ff0000;
          }
  }

/* PHONE */
@media all and (max-width:736px) {
    
    img.phone {
       		width:100%;
    }
    
    img.tablet, img.desktop {
        		display:none;
    }
    
    section {
        width:90%;
        padding: 0px 15px 0px 15px;
    }
    
    aside {	
		width:90%;
        word-wrap: break-word;
        padding: 0px 15px 0px 15px;
	}
}
