/* My WEB120 Portal Website Styles */

html {
    background-color:#2C3539;
}

div.wrapper {
    background-color:#ff0000;
    font-family: cursive;
    overflow:auto;
}

h1>a {
    text-decoration: none;
    color:#0c0cd8;
}

.logo {
    color:#ffa500;
    margin-left:1%;
    text-shadow:1px 1px #ccc;
    font-size:1.25em;
}

/*hr line for footer */
hr.footer {
  border: 2px solid; 
  border-color: #2C3539;
  border-radius: 2px;
}

/* Embed Responsively Rules! */
div.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin: auto;
    max-width: 98%;
} 

div.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
	clear:both;
}

/* START RESPONSIVE STYLES */

/* DESKTOP */
@media all and (min-width:1400px) {
	
   div.wrapper {
		width:80%;
		margin:auto;
	}

    section.wholepage {
        width: 100%; /* desktop */
    }
    
    section {
		width:62%;
		float:left;
        padding-left: 15px;
	}
	
     aside {	
		width: 33%;
		float: right;
        padding-right: 15px;
	}
			
	
    img.desktop {
        float:right;
       	width:35%;
        padding-left: 15px;
        padding-right: 15px;
   	 }
    
    img.tablet, img.phone {
       		 display:none;
    	}  
    
    /* Change background color of navigation on selected page */
    ul.topnav li a.selected {
        		color:#ff0000;
   	 }
}


/* TABLET */
@media all and (min-width:737px) and (max-width:1399px) {
	
	section {
		width:60%;
		float:left;
	}
	
	aside {	
		width:39%;
		float:right;
	}
	
            img.tablet {
       		width:100%;
           }
    
           img.phone, img.desktop {
        		display:none;
           } 
    
    /* Change background color of navigation on selected page */
           ul.topnav li a.selected {
        		color:#ff0000;
          }
  }


/* PHONE */
@media all and (max-width:736px) {
    
    img.phone {
       		width:100%;
    }
    
    img.tablet, img.desktop {
        		display:none;
    }  

}
